In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [11]:
weather_path = 'weather_NY_2010_2018Nov.csv'
w = pd.read_csv(weather_path)

In [12]:
w.head()

,USAF,WBAN,StationName,State,Latitude,Longitude,MeanTemp,MinTemp,MaxTemp,DewPoint,Percipitation,WindSpeed,MaxSustainedWind,Gust,Rain,SnowDepth,SnowIce,Year,Month,Day
0,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,27.6,24.8,30.9,25.0,0.07,1.3,6.0,NaN,0,NaN,1,2010,1,1
1,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,-3.2,-20.9,17.1,-9.6,0.00,3.3,9.9,NaN,0,NaN,1,2010,1,10
2,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,20.9,17.1,24.1,15.1,0.00,6.8,12.0,19.0,0,NaN,1,2010,1,11
3,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,13.8,5.0,19.9,8.5,NaN,4.4,8.0,15.9,0,NaN,1,2010,1,12
4,726228,94740,ADIRONDACK REGIONAL ARPT,NY,44.385,-74.207,6.3,-8.0,19.0,1.9,0.00,3.3,5.1,NaN,0,NaN,1,2010,1,13

In [6]:
w.Latitude

0         44.385
1         44.385
2         44.385
3         44.385
4         44.385
           ...
160770    44.050
160771    44.050
160772    44.050
160773    44.050
160774    44.050
Name: Latitude, Length: 160775, dtype: float64

Look at limits on latitude and longitude. These fit with the station names, which are from all over the state of New York. I will likelywant to limit to just stations in NYC.

In [13]:
print(np.min(w.Latitude))
print(np.max(w.Latitude))

40.639
44.936

Look at limits on temperature. These numbers must be in Fahrenheit.

In [20]:
print(np.min(w.MinTemp))
print(np.max(w.MinTemp))

-36.9
87.8